#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	cursor: pointer;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
	cursor: pointer;
	text-align: center;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
	cursor: pointer;
	text-align: center;
}

#customers tr:hover {
	background-color: #ddd;
	cursor: pointer;
	text-align: center;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0085A1;
	color: white;
	text-align: center;
}

#padding {
	padding-top: 20px;
	padding-bottom: 12px;
}

* {
	box-sizing: border-box;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 5px 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
