<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- 프로젝트 시작 -->
	<!-- 기본규칙 : 본인 기능 + 본인 controller부분 시작점 표시-->
	<!-- 범위를 벗어나 프로젝트에 피해를 주지 마세용~힘들어유 -->
	<!-- ex) 허재혁 시작-->
	<!-- 내용들~~~-->
	<!-- ex) 허재혁 끝-->
	
	<!-- 송주현 시작 -->
	<bean type="controller" name="/login/regist_form" class="kr.or.kosta.reservationmall.login.controller.RegistController" />
	<bean type="controller" name="/individual/regist" class="kr.or.kosta.reservationmall.individual.controller.RegistController" />
	
	<!-- 송주현 끝 -->
	
	<!-- 정지원 시작 -->
	
	
	<!-- 정지원 끝 -->
	
	<!-- 이혜림 시작 -->
	
	
	<!-- 이혜림 끝 -->
	<bean type="controller" name="/article/controller" class="kr.or.kosta.reservationmall.board.controller.ArticleController" />

	<bean type="controller" name="/board/controller" class="kr.or.kosta.reservationmall.board.controller.BoardController" />
	<!-- 허재혁 시작 -->
	<bean type="controller" name="/login/controller" class="kr.or.kosta.reservationmall.login.controller.LoginController" />
	
	<bean type="controller" name="/admin/main_board" class="kr.or.kosta.reservationmall.admin.controller.AdminController" />
	<!-- 허재혁 끝 -->
	
	
</beans>